.navigation {
	display: flex;
	background-color: #fff;
	align-items: center;
	padding: 0;
	&-list {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 2.8rem;
		li {
			list-style: none;
		}
	}
	&-item {
		display: flex;
		gap: 1.6rem;
	}
}

.layout-logo {
	line-height: 6.4rem;
	font-weight: 500;
	color: #262626;
	font-size: 2.4rem;
	text-align: center;
	height: 6.4rem;
}

.content {
	padding: 2.4rem;
}
