.users {
	background-color: white;
	&-filter {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		padding: 2.4rem;
		background-color: white;
		box-shadow: -3.062930107116699px -3.062930107116699px 7.657325744628906px 0px rgba(0, 0, 0, 0.05),
			3.062930107116699px 3.062930107116699px 7.657325744628906px 0px rgba(0, 0, 0, 0.05);
		button {
			max-width: 20rem;
			padding: 0.5rem 1.2rem;
		}
		&__form {
			display: flex;
			justify-content: space-between;
			align-items: center;
			input {
				flex-grow: 0;
				max-width: 30rem;
			}

			.ant-select-selector {
				border-radius: 0 !important;
				.ant-select-selection-placeholder {
					color: #000;
					font-weight: 600;
					font-size: 12px;
				}
			}
			&--selections {
				flex-grow: 1;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
	&-list {
		table thead {
			th,
			th * {
				white-space: nowrap;
				background-color: #f2f9ff !important;
				color: #000;
				font-size: 1.2rem;
			}
		}
	}

	@media screen and (max-width: 992px) {
		&-filter {
			&__form {
				flex-wrap: wrap;
				gap: 1.6rem;
				&--selections {
					justify-content: flex-start;
					gap: 1.4rem;
					.bd-r-none {
						border: 1px solid #d9d9d9 !important;
						.ant-select-selector {
							border: none !important;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 576px) {
		&-filter {
			&__form {
				flex-wrap: wrap;
				gap: 1.6rem;
				align-items: center;
				&--selections {
					button,
					.ant-select {
						width: 100%;
					}
				}
			}
		}
	}
}

.ant-table-pagination.ant-pagination {
	width: 100%;
	display: flex;
}
.ant-pagination-total-text {
	margin-right: auto !important;
}

.ant-pagination .ant-pagination-item {
	border-radius: 50% !important;
	margin-right: 0.3rem !important;
	&:not(.ant-pagination-item-active) {
		background-color: #e0e6ed !important;
		a {
			color: #000;
		}
	}
	background-color: #4361ee !important;
	border: none;
	a {
		color: white;
		font-size: 1rem;
	}
}

.ant-pagination-item-link,
.ant-pagination-prev {
	border-radius: 50% !important;
	background-color: #e0e6ed !important;
	margin-right: 0.3rem !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
	background-color: white;
	&::after {
		border-color: #4361ee;
	}
}

.ant-pagination {
	padding: 0 1.8rem;
}
.filter {
	&-date {
		display: flex;
		flex-direction: column;
		width: 250px;
		padding: 0 1rem;
		gap: 16px;
		border-radius: 5px;
	}
	&-customer {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		width: 250px;
		padding: 0 1rem;
		border-radius: 5px;

		.ant-checkbox-group {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			font-weight: 500;
			font-size: 13px;
		}
	}
}

.customer-stag {
	border-radius: 25.047px;
	border: 1.252px solid rgba(0, 122, 255, 0.8);
	background: #d0e9ff;
}

.mg-0 {
	margin: 0;
}

.setting {
	padding: 2.4rem;
	border-radius: 0.4rem;
}

.setting {
	.ant-modal-content {
		padding: 0;
		.ant-modal-title {
			background-color: #f2f9ff;
			padding: 1.4rem 2.4rem;
			font-size: 1.4rem;
			font-weight: 600;
		}
		.ant-modal-close-x {
			font-size: 1.4rem;
		}
		.ant-modal-close {
			top: 1.2rem;
		}

		.ant-modal-body {
			padding: 3.6rem 2.4rem;
			display: flex;
			flex-wrap: nowrap;
			gap: 1.8rem;
			justify-content: space-between;
		}
	}
	&-columns {
		border-radius: 4px;
		border: 0.739px solid #dcdcdc;
		background: #fff;
		flex-basis: 50%;
		&__content {
			padding: 2rem;
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			input {
				height: 38px;
			}
			&--drag {
				box-sizing: border-box;
				font-size: 1.2rem;
				padding: 1rem 1.2rem;
				background: #f5f5f5;
				height: 38px;

				box-shadow: 1.478606939315796px 1.478606939315796px 3.6965172290802px 0px rgba(0, 0, 0, 0.1),
					1.478606939315796px 1.478606939315796px 3.6965172290802px 0px rgba(0, 0, 0, 0.1);
			}
			.ant-checkbox-group {
				flex-direction: column;
				gap: 0.8rem;
				&-item {
					border-radius: 4px;
					background-color: #f2f9ff;
					width: 100%;
					padding: 0.8rem 1.4rem;
					font-size: 1.2rem;
					font-weight: 600;
				}
			}
		}

		&__title {
			color: #46515f;
			border-radius: 4px 4px 0 0;

			font-size: 1.4rem;
			text-align: center;
			background-color: #f2f9ff;
			padding-top: 1.4rem;
			padding-bottom: 1.4rem;
			border-bottom: 1px solid #dcdcdc;
		}
	}
}
