:root {
	font-size: 10px;
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 37px;
}
::-webkit-scrollbar-thumb {
	border-radius: 37px;

	background-color: #9e9e9e;
}
@import 'utilities.style';
@import 'layout.styles';
@import 'user.styles';
